<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

 <div class="container col-md-12" th:fragment="content">
  <form action="/customers" method="post" th:object="${customersForm}">

      <h1 th:text="#{form.header}"></h1>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="customerName"></label>
        <input type="text" id="customerName" class="form-control border border-primary"
               th:placeholder="#{customer.customerName}" name="customerName" th:field="*{customerName}" autocomplete="off">
      </div>
      <div class="form-group col-md-6">
        <label for="displayedName"></label>
        <input type="text" id="displayedName" class="form-control border border-primary"
               th:placeholder="#{customer.customerDisplayedName}" name="displayedName"
               th:field="*{customerDisplayedName}" autocomplete="off">
       </div>
    </div>

   <div class="form-row">
    <div class="form-group col-md-8">
        <label for="customerStreet"></label>
        <input type="text" id="customerStreet" class="form-control border border-primary" th:placeholder="#{customer.customerStreet}"
               name="customerStreet" th:field="*{customerStreet}" autocomplete="off">
    </div>

    <div class="form-group col-md-2">
        <label for="customerStrNumber"></label>
        <input type="text" id="customerStrNumber" class="form-control border border-primary" th:placeholder="#{customer.customerStrNumber}"
               name="customerStrNumber" th:field="*{customerStrNumber}" autocomplete="off">
    </div>

     <div class="form-group col-md-2">
        <label for="customerRoomNumber"></label>
        <input type="text" id="customerRoomNumber" class="form-control border border-primary" th:placeholder="#{customer.customerRoomNumber}"
               name="customerRoomNumber" th:field="*{customerRoomNumber}" autocomplete="off">
     </div>
   </div>

   <div class="form-row">
      <div class="form-group col-md-5">
          <label for="customerCity"></label>
          <input type="text" id="customerCity" class="form-control border border-primary" th:placeholder="#{customer.customerCity}"
                 name="customerCity" th:field="*{customerCity}" autocomplete="off">
      </div>

      <div class="form-group col-md-3">
          <label for="customerPostCode"></label>
          <input type="text" id="customerPostCode" class="form-control border border-primary" th:placeholder="#{customer.customerPostCode}"
                 name="customerPostCode" th:field="*{customerPostCode}" autocomplete="off">
      </div>

     <div class="form-group col-md-4">
        <label for="customerEmail"></label>
        <input type="email" id="customerEmail" class="form-control border border-primary" th:placeholder="#{customer.customerEmail}"
               name="email" th:field="*{customerEmail}" autocomplete="off">
     </div>
   </div>

     <div>
        <input type="submit" class="btn btn-primary btn-lg btn-block" th:value="#{customer.form.submit}">
     </div>
   </form>
  </div>

</body>
</html>